.App {
  text-align: center;
}

.MusicLogo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #000000;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
}
.title {
  background-color: #000000;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Lobster", cursive;
  font-size: 40px;
}
.App-link {
  color: #61dafb;
}

.Options {
  float: left;
  text-align: center;
  height: 20%;
  width: 100%;
  background-color: #3f3f3f;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  font-family: "Lobster", cursive;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
